<!DOCTYPE html>
<html>
    <head>
        <title> Community Connect - Timesheet </title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="shortcut icon" type="image/png" href="../../assets/images/logo2.png" />
        <link rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
    crossorigin="anonymous"/>
    </head>
    <body>
      <section class="container">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Organization</th>
                  <th scope="col">Date</th>
                  <th scope="col">Hours</th>
                  <th scope="col">Signature</th>
                  <th scope="col"></th>
                  <th scope="col"><a href='opportunities/new' class="add-btn"><i class="fas fa-plus"></i></a></th>
                </tr>
              </thead>
              <% @opportunity.each do |opportunity| %>
                  <tr>
                      <td scope="row"><%= opportunity.organization%></td>
                      <td><%= opportunity.date%></td>
                      <td><%= opportunity.hours%></td>
                      <td><%= opportunity.signature%></td>
                      <td><%= button_to edit_opportunity_path(opportunity), method: :get, class: 'btn' do %>
                            <i class="far fa-edit t-button"></i>
                          <% end %></td>
                      <td><%= button_to opportunity, :data => {:confirm => 'Are you sure?'}, method: :delete, class: 'btn' do %>
                            <i class="fas fa-trash t-button"></i>
                          <% end %> </td>
                  </tr>
              <%end%>
            </table>
          <%= link_to "Log out", '/session', method: :delete, class: "" %>
      </section>

</body>
</html>

<!-- link_to "OPPORTUNITY LIST", 'services/', method: :get,class: "" -->
