<!DOCTYPE html>
<html>
  <head>

    <title>Community Connect</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'style.css'%>
    <%= stylesheet_link_tag 'timesheetstyle.css'%>

  </head>

  <body>
    <% unless action_name == '/users' || action_name == '/session' %>
      <%= render "layouts/navbar" %>
    <% end %>
    <%= yield %>
  </body>
</html>
